.top {
    height: 60vh;
    /* background-color: red; */
    padding-top: 25px;
    margin-top: 50px;
}

.topMiddleContainer {
    width: 90vw;
    height: 45vh;
    margin-top: 0vh;
    margin-left: 5vw;
    /* background-color: black; */
    text-align: center;
}

.topContainer {
    margin: auto;
    width: 90vw;
    height: 30vh;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.topserviceTemplate {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    margin-left: 2px;

    width: 20%;
    height: 46px;

    /* White */

    background: #FFFFFF;
    /* Gray/Gray 08 */

    border: 1px solid #E1E5E8;
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.topText {

    width: 146px;
    height: 14px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    text-align: center;

    /* Gray/Gray 01 */

    color: #1A232F;
}

.topHeadline {

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 8vh;
    line-height: 100%;
    text-align: center;
    color: #1A232F;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
    .topHeadline {
        font-size: 5vh;
    }

    .topContainer {
        gap: 10px;
    }
}