.title {
  color: var(--darkClr);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 30px 0;
}
.servicesPage {
  .pageNavigationDetails {
    padding: 20px;
    background: #f2f2f7;
    h1 {
      font-weight: 500;
      color: var(--darkClr);
    }
    .navStatus {
      display: flex;
      gap: 15px;
      align-items: center;
      img {
        height: 12px;
        width: fit-content;
      }
      p {
        color: var(--darkClr);
      }
    }
  }
  .servicesContainer {
    position: relative;
    // overflow: hidden;
    .vectorLine {
      position: absolute;
      width: 100%;
      top: -50%;
      transform: rotate(12deg);
    }
    .content {
      .servicesList {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        .serviceName {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 10px;
          font-weight: 600;
          padding: 15px;
          border: 1px solid #e1e5e8;
          img {
            width: fit-content;
            height: 25px;
          }
          p {
            color: var(--darkClr);
          }
        }
      }
      .heroContainer {
        display: none;
      }
    }
  }
  .tech {
    align-self: center;
    .techContainer {
      padding: 0 20px;
      margin: auto;
      .image {
        margin: 50px;
      }
    }
  }
}

@media (min-width: 600px) {
  .servicesPage {
    .pageNavigationDetails {
      padding: 30px 80px;
    }
    .title {
      text-align: left;
      margin-left: 80px;
    }
    .servicesContainer {
      display: flex;
      justify-content: center;
      .content {
        display: flex;
        gap: 10px;
        .heroContainer {
          margin-top: 50px;
          display: block;
          img {
            width: 400px;
            height: fit-content;
          }
        }
      }
    }
    .tech {
      .techContainer {
        padding: 20px 80px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .servicesPage {
    .servicesContainer {
      .content {
        .servicesList {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        .heroContainer {
          img {
            width: 450px;
          }
        }
      }
    }
    .tech {
      .techContainer {
        padding: 20px 80px;
      }
    }
  }
}
