.serviceItem {
  border: 1px solid #e1e5e8;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 300px;
  &.showDescription {
    .desc {
      grid-template-rows: 1fr;
    }
  }
  p {
    color: var(--darkClr);
  }
  .desc {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
    p {
      overflow: hidden;
      padding: 0;
    }
  }
  .serviceName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    cursor: pointer;
    img {
      width: fit-content;
      height: 25px;
    }
  }
}
