.container {
  .main {
    padding: 20px;
    h1 {
      color: var(--darkClr);
      //   margin-bottom: 35px;
    }
    .contactInfo {
      display: grid;
      place-items: center;
      gap: 5px;
    }
  }
}

@media (min-width: 1000px) {
  .container {
    .main {
      padding: 20px 80px;
      .contactInfo {
        max-width: 1100px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (min-width: 1400px) {
  .contactInfo {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
  }
}
