.register {
    /* width:  ; */
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 0px 80px;
    gap: 8px;
}

.registerCenterDiv {
    width: 98vw;
    margin: auto;
    height: 80vh;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.registerImg {
    background-color: #2C2573;
    width: 49vw;
    height: 80vh;
    border-radius: 25px;
}

.registerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: relative;
    width: 489px;
    height: 172px;
    left: 117px;
    top: 185px;
    /* z-index: 20; */
    /* margin: auto; */
    /* margin-top: 500px; */
}

.registerHead1 {
    width: 489px;
    height: 116px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.registerHead2 {
    width: 489px;
    height: 24px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.registerActualImg {
    width: 49vw;
    height: 80vh;
    border-radius: 25px;
    position: relative;
    top: -170px;
}

.regsiterForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 590px;
    height: 533px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: white;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 590px;
    height: 451px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    /* background-color: yellow; */
}

.f {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 590px;
    height: 74px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 285px;
    height: 74px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.lbl {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 8px;

    width: 285px;
    height: 12px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    color: black;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.inputFieldThree {
    box-sizing: border-box;
    color: black !important;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 24px;
    gap: 8px;

    width: 585px;
    margin-top: 10px;
    height: 130px;

    /* White */

    background: #FFFFFF;
    /* Gray/Gray 08 */

    border: 1px solid #E1E5E8;
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.04);
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.inputFieldTwo {
    box-sizing: border-box;

    /* Auto layout */
    color: black !important;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 24px;
    gap: 8px;

    width: 585px;
    margin-top: 10px;
    height: 50px;

    /* White */

    background: #FFFFFF;
    /* Gray/Gray 08 */

    border: 1px solid #E1E5E8;
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.04);
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.inputField {
    box-sizing: border-box;
    color: black !important;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 24px;
    gap: 8px;

    width: 285px;
    height: 50px;

    /* White */

    background: #FFFFFF;
    /* Gray/Gray 08 */

    border: 1px solid #E1E5E8;
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.04);
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.phoneField {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 24px;
    gap: 8px;

    width: 590px;
    height: 50px;

    /* White */

    background: #FFFFFF;
    /* Gray/Gray 08 */

    border: 1px solid #E1E5E8;
    box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.04);
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.getQuoteButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;

    width: 590px;
    height: 50px;

    /* Primary/Primary 01 */

    background: #2C2573;
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.getQuoteText {

    width: 98px;
    height: 16px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-transform: uppercase;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}