.header {
  background: var(--mainBrandClr);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200000;
  .logo {
    height: 45px;
    width: fit-content;
  }
  .callToAction {
    padding: 15px 32px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    color: var(--mainBrandClr);
  }
}

@media (min-width: 768px) {
  .header {
    padding: 10px 80px;
  }
}
