.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px;
  gap: 40px;
  background: #1a232f;
  margin-top: auto;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.secOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}
.logo {
  align-self: center;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  /* background-color: pink; */
  width: 285px;
  height: 168px;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 285px;
  height: 40px;
  /* background-color: red; */
}

.email {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 285px;
  height: 40px;
}

address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 285px;
  height: 40px;
}

.IconButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  background: #323e4d;
  border-radius: 800px;
}
.IconButton > img {
  width: 40px;
  height: 40px;
}

.Texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 233px;
  height: 36px;
}

.descTextOne {
  width: 40px;
  height: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;

  /* Gray/Gray 06 */

  color: #b8bfc7;
}

.descTextTwo {
  width: 177px;
  height: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;
}

.sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  /* gap: 24px; */
}
h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.navUls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.navMainHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0px;
  width: 150px;
  height: 68px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.socialDiv > img {
  width: 40px;
  height: fit-content;
}

.copyright {
  width: 100%;
  padding: 25px;
  background: #323e4d;
  text-align: center;
}

@media (min-width: 600px) {
  .logo {
    align-self: start;
    margin-bottom: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}
