.services {
  .servicesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 25px;
    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 20px;
      background-image: url("/service-card-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: all 0.2s ease-in-out;
      &:hover {
        .hoverContent {
          display: flex;
          animation: animateHoverContent 0.2s ease-in-out forwards;
        }
      }
      .cardTitle {
        line-height: 100%;
        font-size: 2rem;
        font-weight: 600;
        font-family: var(--secondaryFont), sans-serif;
        transition: all 0.2s ease-in-out;
      }
      .hoverContent {
        display: none;
        gap: 10px;
        flex-wrap: wrap;
        transition: all 0.2s ease-in-out;
        button {
          cursor: pointer;
          padding: 12px 32px;
          color: #fff;
          border: 2px solid #fff;
          border-radius: 50px;
          background: rgba(255, 255, 255, 0.16);
        }
      }
    }
  }
  .clients {
    align-self: center;
    .clientsContainer {
      padding: 0 20px;
      display: flex;
      margin: auto;
      .image {
        margin: 50px;
      }
    }
    .title {
      color: var(--mainBrandClr);
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    .card {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      border-radius: 15px;
      background: #eceff3;
      max-width: 500px;
      img {
        width: 30px;
        height: fit-content;
      }
      p {
        color: var(--mainBrandClr);
      }
      .count {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 800px) {
  .services {
    .servicesContainer {
      flex-direction: row;
      // flex-wrap: wrap;
      padding: 20px 80px;
      .card {
        width: 100px;
        flex-grow: 1;
        min-height: 450px;

        &:hover {
          width: 300px;
          .cardTitle {
            align-self: flex-start;
            animation: animateCardTitle 0.2s ease-in-out forwards;
            // transform: rotate(0deg);
            // writing-mode: unset;
          }
        }
        .cardTitle {
          transform: rotate(-90deg);
          // writing-mode: vertical-lr;
          // text-orientation: mixed;
        }
      }
    }
    .clients {
      .clientsContainer {
        padding: 20px 80px;
      }
    }
    .statistics {
      flex-direction: row;
      justify-content: center;
      .card {
        max-width: 300px;
      }
    }
  }
}

@keyframes animateCardTitle {
  0% {
    opacity: 0;
    transform: translateY(-20px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes animateHoverContent {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
