:root {
  --mainBrandClr: #2c2573;
  --darkClr: #1a232f;
}

body {
  font-family: "Poppins", sans-serif;
}

button,
input,
textarea,
ul,
li {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button{
  cursor: pointer;
}