:root {
  --mainBrandClr: #2c2573;
  --primaryFont: "Montserrat Alternates";
  --secondaryFont: "Urbanist";
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

button,
input {
  font-family: "Montserrat Alternates", sans-serif;
}
